.body
{
  width: 3000px;
  
  
}
.div
{
  font-family: Arial;
}
.sidebar1
{
  background-color: rgb(33, 33, 33);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.picture
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}
.sidebar2
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 70px;
  background-color: rgb(55, 55, 55);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}
.name
{
  font-size: 20px;
  color: rgb(150, 150, 150);
}
.channel
{
  margin-bottom: 10px;
  color: rgb(150, 150, 150);
  font-size: 20px;
}
.create-new
{
  font-size: 20px;
  color: rgb(150, 150, 150);
}