.container
{
  width: 100%;
  height: 100vh;
  background-image: url("sleepyhead.jpg");
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper
{
  text-align: center;
}
p
{
  font-family: Montserrat;
}

.title
{
  text-align: center;
}
.order
{
  text-align: center;
}
.touch
{
  text-decoration: underline;
  
  
}